--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
pre-commit
trimesh
einops
huggingface_hub
imageio
opencv-python
# xformers
open3d
fastapi
unicorn
requests
typer
pillow
antlr4-python3-runtime==4.9.2 # required by omegaconf 2.3.0, without this line installing antlr4-python3-runtime failed for me, Google Gemini claims it's a known issue in 4.9.3 on Windows
omegaconf<2.4 # when omegaconf 2.4.0 releases, it will require antlr4-python3-runtime 4.11
evo
e3nn
moviepy==1.0.3
plyfile
pillow_heif
safetensors
addict
pycolmap
ultralytics # for YOLO image segmentation
lapx>=0.5.5 # lap is required by ultralytics, but when lap attempted to automatically install, it installed to the wrong python environment