--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
pre-commit
trimesh
einops
huggingface_hub
imageio
opencv-python
# xformers
open3d
fastapi
unicorn
requests
typer
pillow
antlr4-python3-runtime==4.9.2
omegaconf
evo
e3nn
moviepy==1.0.3
plyfile
pillow_heif
safetensors
addict
pycolmap
ultralytics
lapx>=0.5.5